<!DOCTYPE html>
<html>
<head>
    <title>Multimedia Processing Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Multimedia Processing Tool</h1>
        <div class="button-container">
            <a href="/media" class="btn">Text Processing</a>
            <a href="/media" class="btn">Image Processing</a>
            <a href="/audio" class="btn">Audio Processing</a>
            <a href="/3d" class="btn">3D Processing</a>
        </div>
    </div>
</body>
</html>
